.select {
    position: relative;

    .options {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--purple-light);
        border-radius: 8px;
        width: 100%;
        padding: 6px;
        background-color: var(--white);

        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;

        p {
            font-size: 16px;
        }

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid var(--purple-light);
            left: 12px;
            top: -6px;
        }

        .option {
            text-align: start;
            background-color: transparent;
            border: 0;
            outline: 0;
            border-radius: 6px;
            padding: 6px;
            font-size: 16px;

            &:hover {
                background-color: var(--purple-light);

            }


        }
    }
}