.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .form {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 40px;

        .destinationsInput {
            position: relative;

            .remove {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
            }
        }

        .input {
            margin-top: 8px;
        }


    }

    .submit {
        margin-top: 24px;

        .loaderContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .search {
        .form {
            flex-direction: column;
            width: 100%;

            .destinationInputs,
            .dateAndPassengers {
                width: inherit;

                .input {
                    input {
                        width: 100%;
                    }
                }
            }

        }

        .submit {
            width: 100%;
        }
    }
}