.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .destinationsWrapper {
        display: flex;

    }

    .summary {
        text-align: center;
        margin-top: 20px;

        h5 {
            margin-top: 12px;
            font-size: 12px;
            font-weight: 500;
            color: var(--purple-dark);

            span {

                color: var(--black);
            }
        }
    }

    .controls {
        margin-top: 24px;
    }

}

.resultsError {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        margin-top: 24px;
    }
}

.resultsLoading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .controls {
        width: 100%;
        button {
            width: inherit;
        }
    }

    .resultsError {
        width: 100%;
        button {
            width: inherit;
        }
    }
    
}